@import url("./media_query.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
}

body {
  background-color: var(--bg-primary);
}
.container-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
section:first-child {
  background-color: #e5e5e5;
  width: 70%;
}

.logo {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
}
.logo img {
  cursor: pointer;
  height: 80%;
  margin-left: 5%;
}
.input-container {
  background-color: inherit;
  height: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.input-container .input-content {
  width: 60%;
  height: 80%;
}

.input-container .input-content textarea {
  background-color: inherit;
  height: 30vh;
  width: 60%;
  border: none;
  padding: 1rem;
  font-size: 1.5em;
  color: var(--primary-button-color);
  resize: none;
  overflow: hidden;
}
.input-container .input-content textarea::placeholder {
  color: var(--primary-button-color);
}

.container-buttons {
  height: 30%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-end;
}
.container-buttons .buttons-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
}
.container-buttons .alert-icon-container {
  height: 2rem;
  width: 80%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.container-buttons .alert-icon-container .container-alert-icon {
  display: inherit;
  color: #495057;
  gap: 0.5rem;
  width: 71%;
}
.container-buttons .buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}
.container-buttons .buttons button {
  width: 328px;
  height: 67px;
  border: none;
  border-radius: 1.3rem;
  cursor: pointer;
  font-size: 1rem;
}

.container-buttons .buttons button:first-child {
  background-color: var(--primary-button-color);
  color: var(--secondary-button-color);
}
.container-buttons .buttons button:last-child {
  background-color: var(--secondary-button-color);
  border: solid 1px var(--primary-button-color);
  color: var(--primary-button-color);
}

section:last-child {
  background-color: var(--bg-primary);
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section:last-child .container-messages {
  background-color: var(--bg-secondary);
  height: 90%;
  width: 90%;
  border-radius: 1.5rem;
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 1px 10px 0.5rem #b5b5b5;
}
section:last-child .container-messages #messages-container {
  padding: 1rem;
  display: none;
  height: 100%;
}
section:last-child .container-messages #messages-container textarea {
  resize: none;
  overflow: hidden;
  height: 80%;
  width: 100%;
  color: var(--primary-button-color);
  font-size: 2em;
  border: none;
}

section:last-child .container-messages .are-not-messages {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 60%;
  text-align: center;
}
section:last-child .container-messages .are-not-messages img {
  width: 100%;
}
section:last-child .container-messages .are-not-messages h3 {
  color: #343a40;
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
  height: 20%;
}
section:last-child .container-messages .are-not-messages p {
  color: #495057;
  width: 70%;
  height: 20%;
  margin: 0 auto;
  font-size: 1.4rem;
}
section:last-child .container-messages button {
  position: absolute;
  bottom: 5%;
  width: 328px;
  height: 67px;
  border: solid 1px var(--primary-button-color);
  border-radius: 1.3rem;
  color: var(--primary-button-color);
  cursor: pointer;
  font-size: 1rem;
  transition: 0.2s ease-in-out;
}
section:last-child .container-messages button:hover {
  background-color: var(--primary-button-color);
  color: var(--secondary-button-color);
}
section:last-child .svg-container {
  width: 90%;
}
.modal {
  font-size: 2rem;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.modal .messageModal {
  background-color: var(--bg-secondary);
  text-align: center;
  border-radius: 1rem;
  text-align: center;
  height: 20vh;
  width: 30vw;
  font-size: 0.8em;
  color: var(--primary-button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animate 0.2s ease-in-out;
  z-index: 20;
}

@keyframes animate {
  from {
    transform: scale(0);
    opacity: 50%;
  }
  to {
    opacity: 100%;
    transform: scale(1);
  }
}
