@media screen and (max-width: 1440px) {
  .logo img {
    height: 100%;
  }

  button {
    width: 250px !important;
    height: 50px !important;
  }
  section:last-child .container-messages .are-not-messages {
    height: 100%;
    width: 80%;
  }

  section:last-child .container-messages .are-not-messages h3 {
    font-size: 1.5em !important;
    height: 30% !important;
    text-align: center;
  }
  section:last-child .container-messages .are-not-messages p {
    font-size: 1rem;
    height: 30% !important;
  }
}

@media screen and (max-width: 1024px) {
  .container-alert-icon {
    width: 90% !important;
    margin: 0 auto;
    justify-content: flex-start;
  }
  .container-buttons {
    justify-content: flex-start;
    align-items: center;
    height: 26%;
  }
  .container-buttons .buttons-content {
    align-items: center;
    height: 100%;
  }
  .container-buttons .buttons-content .buttons {
    width: 72% !important;
    justify-content: flex-start;
  }
  section {
    width: 100vw !important;
  }
  section:first-child {
    height: 70%;
  }
  section:last-child {
    height: 30%;
  }

  section:last-child .container-messages h3,
  section:last-child .container-messages p {
    width: 80% !important;
  }
  section:last-child .container-messages h3 {
    font-size: 1.3em !important;
    height: auto !important;
  }
  section:last-child .container-messages p {
    text-align: center;
    font-size: 1em !important;
    height: auto !important;
  }
  section:last-child .container-messages {
    height: 70%;
  }

  section:last-child .container-messages #btn-copy-message {
    display: none;
  }

  .container-page {
    flex-direction: column;
    width: 100vw;
    min-height: auto;
  }

  .are-not-messages img {
    display: none;
  }

  .modal .messageModal {
    width: 50vw;
  }
  .modal .messageModal span {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
  .container-page {
    display: flex;
    width: 90vw !important;
    margin: 0 auto;
  }
  .container-alert-icon {
    width: 70vw !important;
    justify-content: center;
    align-items: center;
    height: 2rem;
    font-size: 0.8rem;
    margin-right: 1.5rem;
  }
  .container-alert-icon img {
    width: 10px;
  }
  section:first-child {
    width: auto !important;
  }

  .input-container .input-content {
    text-overflow: ellipsis;
  }
  .input-container .input-content textarea {
    width: 100% !important;
  }

  section:last-child .container-messages .are-not-messages h3 {
    font-size: 1.1em !important;
  }
  section:last-child .container-messages .are-not-messages p {
    font-size: 0.9rem !important;
  }
  section:first-child .container-buttons {
    width: 90vw;
  }
  section:last-child {
    height: 25%;
    width: auto !important;
  }
  .modal .messageModal {
    width: 70vw !important;
  }
  .modal .messageModal span {
    width: 70%;
    font-size: 1.3rem;
  }
}
